.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url(https://wallpaperaccess.com/full/492726.jpg);
    background-size: cover;
    background-position: center;
  }
  .navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .navbar ul li {
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 20px;
  }
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  .navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    background: #1f4191;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
  }
  .navbar ul li:hover::after {
    width: 100%;
  }
  .content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
    text-align: center;
    color: #1f4191;
  }
  .content h1 {
    font-size: 55px;
    margin-top: 80px;
  }
  .content p {
    margin: 30px auto;
    font-weight: 100;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 25px;
    color: #fff;
  }
  button {
    width: 400px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #1f4191;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  span {
    background-color: #1f4191;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
  }
  button:hover span {
    width: 100%;
  }
  button:hover {
    border: none;
  }
