.large-title {
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
    color: aqua;
    text-align: center;
  }
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://wallpaperaccess.com/full/269413.jpg);
    background-size:cover ;
    background-position: center ;
}